<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="N_NuGetPackages_Feed" value="https://to-increase.pkgs.visualstudio.com/7c790bf8-d383-4146-9c2c-fae195aa5676/_packaging/N_NuGetPackages_Feed/nuget/v3/index.json" />
  </packageSources>
</configuration>