div {
    padding: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

    webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.planBoard {
     /* JM:old      overflow: hidden; */
     /*overflow-y: scroll;*/
     /*overflow-x: hidden;*/
}

.row {
    white-space: nowrap;
    position: relative;
}

.cell {
}

#eventNet {
}

#header {
    height: 40px;
    pointer-events:inherit;
    /*
    position: absolute;
    top:0;
    left:0;
    height:10px;
        */
    overflow: hidden;
}

#ganttControl_mainContainer{
    /*overflow-y: scroll;*/
    overflow-x: hidden;
}

#periodSpaceSheet {
    /*JM:old   overflow:auto;*/
    overflow-x: hidden;
    position: relative;
    /*
    margin-top:38px;
    */

}

.periodSpaceHorizontalScroll {
    position: absolute;
    bottom: 0;
    right: 10px;
    overflow-y: hidden;
    overflow-x: visible;
    height: 17px;
    z-index: 999;
}

.periodSpaceHorizontalScroll .content-width-wrapper {
    position: relative;
    height: 1px;
}

.rowItemSpace {
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}
    .rowItemRows {
            width: 100%;
    }
        .rowItemCell {
            width: 100%;
            text-align: left;
            vertical-align: middle;
            color: Black;
            background-color: #c7e0f4;
            border-bottom: 1px solid white;
            word-wrap: normal;
            word-break:break-all;
            overflow: hidden; 
        }
        .rowItemCell_header {
            background-color: white;
            vertical-align: middle;
            text-align: left;
            border: none;
            color: #666;
            font-size: 12px;
            text-overflow: ellipsis;
        }

.periodSpace {
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
}
    .periodRows {
        width: 100%;
        height: 20px;
    }

    .periodRows.periodRowsMonths .periodCell:first-child {
        display: none;
    }
        .periodCell {
            height: 100%;
            display:inline-block;
            vertical-align: middle;
            text-align: center;
        }
        .periodCell_header, .periodCell_headerSecondary {
            height: 100%;
            display:inline-block;
            vertical-align: middle;
            text-align: center;
            color: #666;
            font-size: 12px;
            text-overflow: ellipsis;
        }

        .periodCell_headerCurrent
        {
            height: 100%;
            display:inline-block;
            vertical-align: middle;
            text-align: center;
            color: #666;
            font-size: 12px;
            text-overflow: ellipsis;
            background-color: #ffd9b5;
        }
        .periodCell_headerSecondary {
            background-color: #ffffff;
        }
        .periodCell_headerSecondary:nth-child(even){
            background-color: #f1f1f1;
        }
        .periodCell_headerSecondaryCurrent, .periodCell_headerCurrent, .periodCell_Current {
            background-color: #ffd9b5;
        }
        .periodCell_first, .periodCell_rest {
            background-color: #e4eef7;
        }
        .periodCell_first {
            border-left: none;
            border-right: 1px solid #eaeaea;
            border-bottom: 1px solid #eaeaea;
        }
        .periodCell_rest {
            border-right: 1px solid #eaeaea;
            border-bottom: 1px solid #eaeaea;
        }
        .periodCell_open {
            background-color: white;
        }
        .periodCell_secondaryStart {
            border-left: 1px solid #c5c5c5;
        }
        .periodCell_possibleTaget {
            border:solid;
            border-width: 2px;
            border-color: black;
        }
        .periodCell_first:hover, .periodCell_rest:hover {
            border:solid;
            border-width: 1px;
            border-color: darkgrey;
        }
        .periodCell_selected {
            background-color:lightblue;
        }

 .rowItemPeriodSpace {
    position: relative;
    z-index: 0;
    overflow: hidden;
}
     .plannedEventRow {
        width: 0px;
        height: 0px;
        top: 0px;
    }

.plannedEvent, .plannedEvent_selected {
    color: #f1f1f1;
    position: absolute;
    border-radius: 5px 5px;
    border-width: 1px;
    padding: 3px;
    padding-left: 0px;
    padding-right: 0px;
}

.plannedEvent_openLeft {
    border-left: none;
    border-top-left-radius: 0px 0px;
    border-bottom-left-radius: 0px 0px;
}

.plannedEvent_openRight {
    border-right: none;
    border-top-right-radius: 0px 0px;
    border-bottom-right-radius: 0px 0px;
}

    .plannedEvent:hover {
        border: 1px solid black;
    }

    .plannedEvent_selected {
        border: 1px solid black;
        box-shadow: 2px 2px 5px #888888;
    }

.plannedEventSlider {
    width: 5px;
    cursor: col-resize;
}

.plannedEventContainer {
    height: 100%;
    float: left;
}

.flexbox.plannedEventContainer {
    display: flex;
    flex-direction: column;
}

.flexbox.plannedEventContainer .plannedEventLabel {
    flex-grow: 1;
}

.plannedEventSymbol {
    font-family: 'DynamicsSymbol';
    position:relative;
    text-align: right;
    height: 20px;
    border: none;
    overflow: hidden;
    padding-right: 2px;
}
.plannedEventSymbolIcons {
    width: 20px;
    height: 20px;
}

.plannedEventIcons{
    width: 20px;
    height: 20px;
    vertical-align: text-top, top;
}


.plannedEventLabel {
    text-align: center;
    display: inline-block;
    border: none;
    overflow: hidden;
    overflow-wrap:break-word;
    word-wrap:break-word;
    text-overflow:ellipsis;
}

.plannedEventLabel img {
    vertical-align: text-top, top;
    width: 16px;
    height: 16px;

}

/*.planBoardContextShow {*/
div#HiGHPlanBoardContextMenu
{
    z-index:100;
    position: fixed;
    background-color: White;
    border: 1px solid black;
    padding: 2px;
    padding-right: 10px;
    display: none;
    margin: 1px;
    list-style-type: none;
    list-style: none;
    box-shadow: 2px 2px 10px #888888;
    cursor: default;
    width: 310px;
    min-height: 50px;
    max-height: 400px;
    overflow-y: scroll;
}

div.button-container span
{
    display: inline-block;
    white-space: nowrap;
}
div.button-container span.imageBinder-emptyImage:before {
    visibility: hidden;
}

.planBoardContextHide {
    display: none;
}

 .popupMenuItem {
 }

 .popupFieldLinked {
     color:#0078d7;
     cursor:pointer;
     display:inline-block;
     width: calc(100% - 18px);
 }

 .popupFieldLinked:hover, .popupValueLinked:hover {
     color:#d78900;
 }

 .popupFieldNotLinked {
     display:inline-block;
     width: calc(100% - 18px);
 }

 .popupDisabled {
      color:#c5c5c5;
 }


#HiGHPlanBoardContextMenu .popupField .button-label {
    background: none !important;
}

#HiGHPlanBoardContextMenu .popupField .button-label:after {
    display: none;
}

#HiGHPlanBoardContextMenu .button-commandRing + .button-label {
   clear: both;
   float: left;
   width:  45%;
   margin-right: 2%;
   white-space: normal;
}

#HiGHPlanBoardContextMenu .button-commandRing + .button-label:after {
    content: ':';
}

#HiGHPlanBoardContextMenu .button-commandRing + .button-label + span {
   display: none;
}

#HiGHPlanBoardContextMenu .button-commandRing + .button-label + span + .button-label {
   float: left;
   width:  47%;
}

 .popupValueLinked,
 .popupValueNotLinked {
     display:inline-block;
     width: calc(60% - 18px);
     float:right;
 }

 .popupValueLinked {
     color:#0078d7;
     cursor:pointer;
     white-space: pre-line;
}

 .popupValueNotLinked {
     white-space: pre-line;
 }

.popupHeader {
    color: rgba(90,90,90,1);
    margin-top: 4px;
    font-weight: bold;
 }

 .popupSeparator {
     margin-top: 1px;
     margin-bottom: 3px;
 }

.popupIcon {
     float:left;
 }

.popupIconLinked {
     cursor:pointer;
 }

#wppserviceplanboard_1_HPBPlanned {
    /*overflow-y:scroll;*/
}
.ganttControl_mainContainer {
    /*overflow-y:scroll;*/
}


#detail.row {
    overflow-y: auto;
    overflow-x: hidden;
}

#detail .rowItemSpace {
    margin-bottom: 30px;
}

#rowItemSpaceHeader .plannedEventSlider {
    /*display: none !important;*/
}

#ganttControl_mainContainer .grid-layout {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}


